# This file contains common pin mappings for the BigTreeTech SKR 3.
# This board can ship with one of two chips, STM32H743 or STM32H723.
# To use this config, during "make menuconfig" enable "low-level
# options", "STM32H743" or "STM32H723", "128KiB bootloader",
# and "25MHz clock".

# Do not delete this if you are using mainsail.
[include mainsail.cfg]


# Configure Stepper X
[stepper_x]
step_pin: PD4
dir_pin: PD3 
enable_pin: !PD6
microsteps: 16
rotation_distance: 32   # This is the default 100 steps/mm converted to rotation distance. Change to calibrate your printer.
endstop_pin: ^!PC0
position_endstop: 0
position_max: 275
homing_speed: 50

# Configure Stepper Y
[stepper_y]
step_pin: PA15
dir_pin: !PA8
enable_pin: !PD1
microsteps: 16
rotation_distance: 32   # This is the default 100 steps/mm converted to rotation distance. Change to calibrate your printer.
endstop_pin: ^!PC3
position_endstop: 0
position_max: 275
homing_speed: 50

# Configure Stepper Z
# I am running both of my Z axis motors off the shared driver port.
[stepper_z]
step_pin: PE2
dir_pin: PE3
enable_pin: !PE0
microsteps: 16
rotation_distance: 2
endstop_pin: ^!PC1
position_endstop: 0.0
position_max: 250

# Configure Stepper E0
[extruder]
step_pin: PD15
dir_pin: !PD14 #inverts the stepper motor cuz it was backwards :)
enable_pin: !PC7
microsteps: 16
rotation_distance: 7.610    # Default Extruder rotation distance.
nozzle_diameter: 0.500  # Change to your nozzle size
filament_diameter: 2.850    # Change to your filament size. This can be 1.750 or 2.850 depending on your filament size.
heater_pin: PB3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA2
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 250   # If your extruder goes hotter, change it to the maximum value. 

# If you have two hotends, add a [extruder1] section.

# Heated bed config
[heater_bed]
heater_pin: PD7
sensor_type: Generic 3950
sensor_pin: PA1
control: watermark
min_temp: 0
max_temp: 130

# This is your part cooling fan.
[fan]
pin: PB7

# This is your hotend cooling fan.
[heater_fan heatbreak_cooling_fan]
pin: PB6
max_power: 1.0
kick_start_time: 0.100
heater: extruder
# Name of the config section defining the heater that this fan is
# associated with. If a comma separated list of heater names is
# provided here, then the fan will be enabled when any of the given
# heaters are enabled. The default is "extruder".
heater_temp: 50.0
fan_speed: 1.0

# This tells the RPI where to find your MCU, or printer control board. Follow the video linked in the github repository
# to find how to get this.
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_39001D001651313238353730-if00

# This is where you configure your printer.
[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000 # Default values.
max_z_velocity: 5
max_z_accel: 100

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE9,  EXP1_7=PE11, EXP1_9=<GND>,
    EXP1_2=PB0, EXP1_4=PE8, EXP1_6=PE10, EXP1_8=PE12, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PD5
run_current: 0.800
diag_pin:
stealthchop_threshold: 999999   # This makes the steppers quiet at the cost of accuracy. Delete this if you so choose.

[tmc2209 stepper_y]
uart_pin: PD0
run_current: 0.800
diag_pin:
stealthchop_threshold: 999999   # This makes the steppers quiet at the cost of accuracy. Delete this if you so choose.

[tmc2209 stepper_z]
uart_pin: PE1
run_current: 0.850
diag_pin:
stealthchop_threshold: 999999   # This makes the steppers quiet at the cost of accuracy. Delete this if you so choose.

[tmc2209 extruder]
uart_pin: PC6
run_current: 0.600
diag_pin:
stealthchop_threshold: 999999   # This makes the steppers quiet at the cost of accuracy. Delete this if you so choose.